@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="centrar imagen-fondo flex-f">
    <div class="box">
        <h1 class="c-blanco">Universidad Contoso</h1>
        <p class="c-blanco">Estamos encantados de darles la bienvenida a este emocionante viaje académico que
            emprendemos juntos, conectados virtualmente.</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/oKu4GAeGjp8?si=icp8ynsfw9s-P0Zk"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>

    </div>


</div>
